*{
    margin: 0;
    padding: 0;
}
html{
    scroll-padding-top: 80px;

}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 20pt;
}
.header{
    width: 100%;
    height: 200px;
    background-color: #2f288b;
    margin: auto;
}
.textlogo{
    color: #ecf0f1;
    line-height: 75px;
    font-family: 'Poppins', sans-serif !important;
    font-size: 35pt;
    margin: auto;
    padding-left: 90px;
}
.texthome{
    color: #2189a3;
    line-height: 75px;
    font-family: 'Poppins', sans-serif !important;
    font-size: 35pt;
    margin: auto;
    padding-left: 90px;
}
.boxlogin{
    padding-top: 15px;
}
.hero{
    width: 100%;
    height: 90%;
    padding: 50px 0px 0px 100px;
    background-color: #dfe4ea;
}
h3{ 
    color: #1289A7;
    line-height: 75px;
    font-family: 'Poppins', sans-serif;
    font-size: 18pt;
    font-weight: 300;
    margin: auto;
}
h2{ 
    color: #249dbb;
    line-height: 75px;
    font-family: 'Poppins', sans-serif;
    font-size: 18pt;
    font-weight: 300;
    margin: auto;
}
.texthero{
    color: #0652DD;
    line-height: 75px;
    font-family: 'Poppins', sans-serif;
    font-size: 45pt;
    font-weight: bolder;
    margin: auto;
}
h1{
    color: #2f3542;
    line-height: 50px;
    font-family: 'Poppins', sans-serif;
    font-size: 20pt;
    font-weight: 300;
}
.formhero{
    padding: 0px 120px 0px 0px;
}
.panel{
    border-radius: 15px !important;
}
.footer{
    width: 100%;
    height: 100px;
    text-align: right;
    padding-right: 280px ;
}
.login .input-form input[type="submit"] {
	background-color: #534297;
	border: none;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	width: 35%;
	transition: 0.4s;
}

.login .input-form input[type="submit"]:hover {
	width: 100%;
	background-color: #3c2381;
	color: rgb(71, 58, 187);
}
.body-login {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	height: 200vh;
	background-color: #2df3e1;
	align-items: center;
	font-family: sans-serif;
}
.login {
	background-color: #fff;
	width: 350px;
	text-align: center;
	padding: 30px;
	box-sizing: border-box;
	border-radius: 20px;
}

.login h2 {
	margin: 0 0 20px;
	width: 100%;
	margin-bottom: 25px;
}

.login .input-form {
	position: relative;
	width: 100%;
	margin-bottom: 25px;
}

.login .input-form input {
	height: 50px;
	width: 100%;
	padding: 0 20px;
	box-sizing: border-box;
	font-size: 20px;
	border: 2px solid black;
	border-radius: 15px;
}

.login .input-form span {
	position: absolute;
	top: 15px;
	left: 20px;
	padding: 0px;
	text-transform: capitalize;
	background-color: white;
	transition: 0.3s;
	color: #8b8b8b;
}

.login .input-form input:focus ~ span,
.login .input-form input:valid ~ span,
.login .input-form input:hover ~ span {
	top: -10px;
	left: 20px;
	font-size: 12px;
	background-color: #D2CDE6;
	padding: 2px 4px;
	border: 1px solid black;
	border-radius: 5px;
}

.login .input-form input[type="submit"] {
	background-color: #D2CDE6;
	border: none;
	text-transform: uppercase;
	font-weight: bold;
	cursor: pointer;
	width: 35%;
	transition: 0.4s;
}

.login .input-form input[type="submit"]:hover {
	width: 100%;
	background-color: #77747F;
	color: white;
}
